@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: "Lato", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 3em 0;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: .25em;
}

h1 {
  color: #098e8e;
  font-weight: 700;
  font-size: 3rem;
}

.logo p {
  font-size: 1.2rem;
}

.sun,
.moon {
  font-size: 3rem;
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

button {
  background-color: #2c2828;
  padding: 1em;
  border-radius: 10px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.container-light button {
  background-color: #F0F0F0;
  color: #2c2828;
}

.habits {
  width: 100%;
  background-color: #2c2828;
  border-radius: 10px;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-light .habits {
  background-color: #F0F0F0;
}

.new-habits {
  background-color: #00FFFF;
  width: 90%;
  color: #212121;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}

.container-light .new-habits {
  background-color: #098e8e;
  color: #FFFFFF;
}

@media (max-width: 500px) {
  nav {
    width: 90%;
  }
  
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 300px) {

  nav {
    gap: .25em;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: .8rem;
    letter-spacing: 1.5;
  }
}