@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: "Lato", sans-serif;
}

h1 {
  color: #00FFFF;
  font-weight: 700;
  font-size: 3rem;
}

p {
  color: #F0F0F0;
}

.container-light p {
  color: #000000;
}

.container-light h1 {
  color: #098e8e;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 3em 0;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: .25em;
}

.logo p {
  font-size: 1.2rem;
  color: #F0F0F0;
}

.container-light .logo p {
  color: #000000;
}

.sun,
.moon {
  font-size: 3rem;
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  margin-top: 1em;
}

button {
  background-color: #2c2828;
  padding: 1em;
  border-radius: 10px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.container-light button {
  background-color: #F0F0F0;
  color: #2c2828;
}

.moreHabitInfo {
  display: none;
}

.moreHabitInfo-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.active, .tracking, .streak {
  background-color: #098e8e;
  padding: 2em 3em;
  border-radius: 10px;
}

.container-light .active,
.container-light .tracking,
.container-light .streak {
  background-color: #F0F0F0;
}

.moreHabitInfo .head {
  font-size: 1.2rem;
}

.moreHabitInfo p {
  font-size: 1.6rem;
  font-weight: 700;
}

.habits {
  width: 100%;
  background-color: #2c2828;
  border-radius: 10px;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-light .habits {
  background-color: #F0F0F0;
}

.new-habits {
  background-color: #00FFFF;
  width: 90%;
  color: #212121;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4em;
}

.new-habits span {
  font-size: 2.5rem;
  font-weight: 400;
}

.container-light .new-habits {
  background-color: #098e8e;
  color: #FFFFFF;
}

.habits-track {
  background-color: #2c2828;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.container-light .habits-track {
  background-color: #F0F0F0;
}

p.head {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1em;
  color: #FFFFFF;
}

.container-light p.head {
  color: #000000;
}


.input-habit {
  display: grid;
  grid-template-columns: 7fr 1fr 1fr;
  gap: 1em;
  width: 90%;
}

input {
  border-radius: 10px;
  padding: 1.5em 2em;
  border: 1px solid #808080;
  outline: none;
  transition: border .25s cubic-bezier(.17,.67,.64,.35);
  font-size: 1.2rem;
}

.container-light input {
  border: 1px solid #dcdada;
}

.add-btn {
  background-color: #00FFFF;
  font-size: 1.2rem;
}

.container-light .add-btn {
  background-color: #00FFFF;
  color: #FFFFFF;
}

.cancel-input {
  background-color: #212121;
  color: #FFFFFF;
  font-size: 1.2rem;
}

.container-light .cancel-input {
  color: #000000;
  background-color: #FFFFFF;
}

input:focus {
  border: 4px solid cyan;
}

.habit-graphs {
  width: 100%;
}

.habit-graph {
  
}

.left {
  display: grid;
  grid-template-areas: 
  'logo logo'
  'streak completion';
  gap: .5em;
}

.left h5 {
  grid-area: logo;
}

.streak-p {
  grid-area: streak;
}

.streak-c {
  grid-area: completion;
}

.graph-main {
  display: grid;
  grid-template-rows: repeat(1fr);
  gap: .15em;
}

.box {
  background-color: #F0F0F0;
  height: 10px;
  width: 10px;
}

footer p {
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5em;
}



@media (max-width: 500px) {
  nav {
    width: 90%;
  }
  
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 300px) {

  nav {
    gap: .25em;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: .8rem;
    letter-spacing: 1.5;
  }
}