* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: #212121;
  color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.container-light {
  background-color: #FFFFFF;
  color: #212121;
}